        body{
            font-family: "WDXL Lubrifont TC", sans-serif;
            color: #ffffff;
        }
        h1{
            font-size: 30px;
            color: #ffffff;
        }
        p,h2{
            color: #ffffff;
        }
        .deskripsi{
            margin-top: 50px;
            margin-bottom: 20px;
        }
        .hero-section{
            display: flex;
            flex-direction: column;
            align-items: center;
            height: 100vh;
            background: black;
            justify-content: center; 
        }
        .container-button{
            display: flex;
            flex-direction: row;
            gap: 20px;
        }
        .contact-button{
            background: white;
            padding: 10px 20px;
            border-radius: 5px;
            border: white;
        }
        .me-button{
            border: #ffffff 1px solid;
            background: black;
            color: #ffffff;
            padding: 10px 20px;
            border-radius: 5px;
        }
        *{
            margin: 0;
            padding: 0;
        }
        .about-me{
            background: black;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }
        h2{
            margin-bottom: 300px;
        }
        .paragraph{
            text-align: center;
        }
        .site{
            background: black;
            padding: 100px 0;
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        .site h2{
            color: white;
            margin: 0;
        }
        .site-card{
            display: flex;
            flex-direction: row;
            margin-top: 50px;
            gap: 5px;
        }
        .card{
            padding: 20px;
            display: flex;
            flex-direction: column;
            background: gray;
            border-radius: 5px;
        }
        .my-project{
            display: flex;
            flex-direction: column;
            align-items: center;
            height: 100vh;
            background: black;
            justify-content: center; 
        }
        .project-card{
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            gap: 10px;
            justify-content: center;
        }
        .button-1{
            font-size: 10px;
            color: rgb(73, 134, 248);
            background: #242323;
            border: rgb(73, 134, 248)  1px solid;
            border-radius: 5px;
            padding: 5px 10px;
        }
        .button-2{
            font-size: 10px;
            color: rgb(245, 248, 73);
            background: #242323;
            border: rgb(245, 248, 73)  1px solid;
            border-radius: 5px;
            padding: 5px 10px;
        }
        .button-3{
            font-size: 10px;
            color: rgb(73, 248, 152);
            background: #242323;
            border: rgb(73, 248, 152)  1px solid;
            border-radius: 5px;
            padding: 5px 10px;
        }
        .button-container-2{
            display: flex;
            flex-direction: row;
            gap: 5px;
        }
        .card-2{
            width: 200px;
            padding: 20px;
            display: flex;
            flex-direction: column;
            background: #111111;
            border-radius: 5px;
        }
        .project-p{
            font-size: 15px;
            margin-top: 10px;
            margin-bottom: 10px;
        }
        .nav{
            background: black;
            display: flex;
            justify-content: space-between;
            position: fixed;
            width: 100vw;
            padding: 20px;
            box-sizing: border-box;
        }
        .nav-item{
            display: flex;
            gap: 15px;
        }
        a{
            color: #8a8a8a;
            text-decoration: none;
        }